.table{
	border:solid 1px;
	margin-bottom: 15px;
	width:99%;
	border-collapse:collapse;
}

th{
	border:solid 1px;
}

.ligneLien{
	width: 6%;
	padding: 10px;
	border:solid 1px;
}

.ligneTerme{
	width: 10%;
	padding: 10px;
	border:solid 1px;
}

.ligneDef{
	text-align: center;padding: 10px;
	border:solid 1px;
}

